@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');

/* Global styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Inconsolata, sans-serif;
  /* Sets default font-size to 10px */
  font-size: 62.5%;
}

html {
  background: url('../images/map.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: white;
}

/* Styles for the game panel */
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 60vw;
  height: 60vh;
  padding: 0 25px;
  background-color: #dda448ef;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}

.title-bar > h1 {
  width: 60%;
  border-bottom: black solid 1px;
  font-weight: 900;
  font-size: 4rem;
}

#game-area > h2 {
  font-size: 2.5rem;
  text-align: center;
}

/* Button styles accross game */

.btn {
  background-color: #4B5842;
  color: white;
  border-radius: 10px;
  font-family: Inconsolata;
  font-weight: 700;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12.5px;
}

.btn:hover {
  background-color: #404D64;
}

.menu-btn {
  display: block;
  width: 40%;
  margin: 25px auto;
  padding: 25px;
  width: 40%;
  font-size: 3rem;
}

#home-button, #sound-icon  {
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 6rem;
}

/* Social media links */

.social-media {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

.social-media i {
  font-size: 4rem;
  transition: ease 0.3s;
}

.social-media > li {
  padding: 25px;
  display: inline-block;
}

.social-media i:hover, #home-button:hover, #sound-icon:hover {
  color: #D6D6D6;
}

/* General classes */

.line {
  display: block;
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}