@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700;800;900&display=swap');


/* Global styles */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: Inconsolata, sans-serif;
  /* Sets default font-size to 10px (1rem to 10px) */
  font-size: 62.5%;
}

html {
  background: url('../images/map.jpg') center center no-repeat;
  background-size: cover;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000000;
}


/* Panel and main menu */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 60vw;
  min-height: 600px;
  padding: 25px;
  background-color: #dda448ef;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#game-area {
  width: 100%;
  height: 70%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#game-area>h2 {
  width: 60%;
  font-size: 2.5rem;
  text-align: center;
}

.menu-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.title-bar {
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.title-bar>h1 {
  width: 60%;
  border-bottom: #000000 solid 1px;
  font-weight: 900;
  font-size: 4rem;
}

#icon-div {
  width: 20%;
  text-align: start;
}

.line {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px solid #000000;
}

/* Enter username area */
#username-form {
  width: 40%;
  overflow: hidden;
}

#username-form>label {
  display: block;
  font-size: 2.5rem;
  font-weight: 900;
}

#username {
  width: 100%;
  margin: 12.5px auto;
  padding: 20px 0px 20px 20px;
  font-size: 2rem;
  font-weight: 700;
}

/* Select difficulty page */
.username-container {
  text-align: center;
}

.username-container>h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

#clear-username {
  cursor: pointer;
  font-size: 2rem;
  font-weight: 700;
  transition: all 0.3s ease;
}

.diff-container {
  display: flex;
  width: 60%;
  padding: 25px;
  justify-content: space-between;
}

.diff-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.diff-container label {
  width: 25%;
  padding: 20px;
  text-align: center;
  transition: all ease 0.3s;
}

.diff-container input[type="radio"]:checked+label {
  background-color: #0A2463;
}

#normalDifficulty,
#hardDifficulty {
  display: none;
}

.lockIcon {
  display: none;
}

.lockIcon>i {
  font-size: 3rem;
}

/* Game area of panel */
.answer-container {
  width: 60%;
}

#game-area>p {
  font-size: 2.5rem;
}

#game-area span {
  font-size: 2.5rem;
}

.answer-btn {
  display: block;
  width: 80%;
  margin: 10px auto;
  transition: all 0.3s ease;
}

.flash-green {
  background-color: #4CB963 !important;
}

.flash-red {
  background-color: #C32F27 !important;
}

/* Rules page */
.rules-div {
  width: 60%;
  text-align: center;
}

.rules-div>p {
  font-size: 2.5rem;
  padding: 12.5px;
  font-weight: 700;
}

/* Button styles accross game */
.btn {
  padding: 12.5px;
  background-color: #4B5842;
  color: #ffffff;
  border-radius: 10px;
  font-size: 3rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #404D64;
}

.answer-btn:hover {
  background-color: #404D64;
}

.menu-btn {
  display: block;
  width: 40%;
  margin: 12.5px auto;
  padding: 25px;
}

#back-btn {
  height: 5vh;
  position: absolute;
  left: 20%;
  top: 45%;
  cursor: pointer;
}

#back-btn>i {
  font-size: 5rem;
}

#home-button,
#sound-icon {
  margin-right: 5%;
  cursor: pointer;
}

#home-button>i,
#sound-icon>i {
  font-size: 4rem;
  transition: all 0.3s ease;
}

#submit {
  width: 100%;
}

#play-btn {
  width: 60%;
}

#submit>i,
#play-btn>i {
  font-size: 2.5rem;
}

#reset-quiz {
  cursor: pointer;
}

/* Social media links */
.social-media {
  text-align: center;
}

.social-media i {
  font-size: 4rem;
  transition: all ease 0.3s;
}

.social-media>li {
  padding: 25px;
  display: inline-block;
}

/* Default hover colour */
i:hover,
#clear-username:hover {
  color: #666666;
}

/* Modal styles */
#modal {
  display: none;
  width: 30%;
  border-radius: 15px;
  box-shadow: gray 0px 0px 5px;
  position: fixed;
  top: 35%;
  left: 35%;
  overflow: hidden;
  background-color: #7CDF64;
  color: #ffffff;
  text-align: center;

  animation: animationTop;
  animation-duration: 0.4s;
}

#modalTitle {
  font-size: 4rem;
  font-weight: 900;
  padding: 12.5px;
  color: #ffffff;
  background-color: #27213C;
}

#modalContent {
  padding-bottom: 12.5px;
  color: #000000;
}

#modalContent>p {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 12.5px;
}

#noBtn,
#yesBtn {
  width: 15%;
}

@keyframes animationTop {
  from {
    top: -100px;
    opacity: 0
  }

  to {
    top: 35%;
    opacity: 1
  }
}

/* General classes */
.bold {
  font-weight: 900;
}

/* Media queries for responsive design */

/* laptops and smallers screens */
@media screen and (max-width: 1500px) {

  /* Main menu */
  .panel {
    width: 75vw;
    margin: 5% auto;
  }

  /* Modals */
  #modal {
    top: 30%;
    width: 35%;
    left: 32.5%;
  }

  @keyframes animationTop {
    from {
      top: -100px;
      opacity: 0
    }

    to {
      top: 30%;
      opacity: 1
    }
  }

  #modalContent {
    padding: 10px;
  }

  /* Back btn */
  #back-btn {
    left: 15%;
  }

}

/* Tablets */
@media screen and (max-width: 1201px) {

  /* Main menu */
  .panel {
    width: 70vw;
    min-height: 500px;
    padding: 25px 0;
  }

  .title-bar {
    flex-wrap: wrap;
  }

  .title-bar>h1 {
    padding-top: 12.5px;
    width: 80%;
    margin: 0 auto;
  }

  #icon-div {
    width: 80%;
    margin: 0 auto;
  }

  #game-area h2 {
    padding-top: 12.5px;
  }

  .menu-btn {
    width: 60%;
  }

  .line {
    width: 80%;
    margin: 10px auto;
  }

  /* Enter username */
  #username-form {
    width: 60%;
  }

  /* Difficulty selection */
  .diff-container,
  .username-container,
  #play-btn {
    width: 80%;
  }

  /* Game area */
  #game-area>p {
    text-align: center;
    width: 85%;
  }

  /* Rules page */
  .rules-div {
    width: 70%;
  }

  /* Modals */
  #noBtn,
  #yesBtn {
    width: 25%;
  }

  /* Back btn */
  #back-btn {
    left: 20%;
  }

}

/* Smaller Tablets */
@media screen and (max-width: 950px) {

  /* Main menu */
  .panel {
    width: 80vw;
    padding: 25px;
  }

  .title-bar>h1 {
    font-size: 3.5rem;
  }

  #game-area h2 {
    width: 80%;
  }

  #game-area .username-container>h2 {
    width: 100%;
  }

  /* Difficulty selection */
  label.btn {
    padding: 15px;
  }

  /* Scores page */
  .rules-div {
    width: 80%;
  }

  /* Modals */
  #modal {
    width: 60%;
    top: 35%;
    left: 20%;
  }

  @keyframes animationTop {
    from {
      top: -100px;
      opacity: 0
    }

    to {
      top: 35%;
      opacity: 1
    }
  }

  #modalTitle {
    font-size: 3rem;
  }

  #modalContent>p {
    font-size: 2rem;
  }

  /* Back btn */
  #back-btn {
    left: 10%;
  }
}

/* Very small tablets */
@media screen and (max-width: 710px) {

  /* Main menu */
  .title-bar>h1,
  #icon-div,
  .line {
    width: 90%;
  }

  /* Difficulty selection */
  label.btn {
    padding: 15px 30px;
    font-size: 2rem;
    width: 15%;
  }

  /* Game area */
  .answer-container {
    width: 80%;
  }

  .answer-btn {
    width: 100%;
  }

  /* Scores page */
  .rules-div {
    width: 90%;
  }

  .rules-div>p {
    font-size: 2rem;
  }

  #clearRecord {
    width: 80%;
  }

  /* Back btn */
  #back-btn {
    display: none;
  }
}

/* Large mobile Devices */
@media screen and (max-width: 580px) {

  /* Main menu */
  .panel {
    width: 90vw;
    padding: 25px 0;
  }

  .title-bar>h1 {
    width: 80%;
    font-size: 2.5rem;
  }

  #icon-div {
    width: 80%;
  }

  /* Enter username */
  #username-form {
    width: 70%;
  }

  /* Game area */
  #game-area>h2,
  #game-area span {
    font-size: 2rem;
  }

  .answer-btn {
    font-size: 2.5rem;
  }

  /* Difficulty selection */
  #game-area .username-container>h2 {
    font-size: 2rem;
  }

  .diff-container i {
    font-size: 2rem;
  }

  /* Scores page */
  #clearRecord {
    font-size: 2rem;
  }

  /* Social media */
  .social-media>li {
    padding: 12.5px;
  }

  .social-media i,
  #icon-div i {
    font-size: 3rem;
  }

  /* Modals */
  #modal {
    top: 30%;
  }

  @keyframes animationTop {
    from {
      top: -100px;
      opacity: 0
    }

    to {
      top: 30%;
      opacity: 1
    }
  }
}

/* Mobile Devices */
@media screen and (max-width: 500px) {

  /* Main menu */
  .menu-btn {
    padding: 15px 20px;
  }

  /* Enter Username */
  #username-form>label {
    font-size: 2rem;
  }

  /* Difficulty selection */
  .username-container>h2 {
    font-size: 2rem;
  }

  .diff-container {
    flex-direction: column;
    padding: 12.5px;
  }

  label.btn {
    width: 80%;
    padding: 12.5px;
    margin: 10px auto;
  }

  #play-btn {
    width: 35%;
    background-color: #474747;
    font-size: 2rem;
    align-self: start;
    margin-left: 15%;
  }

  /* Game area */
  #game-area>p {
    padding: 5px 0;
    font-size: 2rem;
  }

  /* Modals */
  #modal {
    width: 80%;
    top: 30%;
    left: 10%;
  }

  @keyframes animationTop {
    from {
      top: -100px;
      opacity: 0
    }

    to {
      top: 30%;
      opacity: 1
    }
  }

}

/* small Mobile Devices */
@media screen and (max-width: 400px) {

  /* Main menu */
  .panel {
    width: 95vw;
    min-height: 400px;
    padding: 0;
  }

  .title-bar>h1,
  #game-area>h2 {
    width: 90%;
  }

  #icon-div {
    width: 90%;
    padding-top: 15px;
  }

  .social-media li {
    padding: 25px 10px;
  }

  /* Enter username */
  #submit {
    font-size: 2.5rem;
  }

  /* Select difficulty */
  .diff-container {
    padding: 0;
  }

  /* Game area */
  .answer-btn {
    font-size: 2rem;
    margin: 5px auto;
  }

  /* Modals */
  #modal {
    width: 90%;
    left: 5%;
  }

  @keyframes animationTop {
    from {
      top: -100px;
      opacity: 0
    }

    to {
      top: 25%;
      opacity: 1
    }
  }
}